<ion-content>

    <section class="screen">

        <img src="../../assets/img/login.png" />

        <h3>
            Seja Bem vindo (a)
        </h3>

        <p>
            Mantenha comunicação em tempo real com o seu melhor amigo e supreenda-se com todas as suas aventuras!
            <br/>
            <br/> Por favor, aguarde rapidinho enquanto encontramos o seu melhor amigo pra você.
        </p>

        <br/>

        <strong>Encontramos! Entre e divirta-se</strong>

        <ion-button (click)="enter()">Entrar</ion-button>

    </section>

</ion-content>