<section class="message">

    <h3>Mande uma mensagem para o seu melhor amigo!</h3>

    <p>Dicas de mensagens:</p>

    <ol>
        <li>Fale sobre uma situação engraçada do seu dia.</li>
        <li>Conte como foram as atividades do seu dia na escola, trabalho ou em casa mesmo.</li>
        <li>Fale o quanto você sente falta do seu melhor amigo.</li>
        <li>Diga o quanto importante é o trabalho dele e que tme orgulho do seu esforço.</li>
        <li>Fale sobre algo interessante ou bonito.</li>
    </ol>

    <p class="how-to">Para enviar uma mensagem basta apertar no botãozinho verde e quando pedir para falar diga: <strong>"Quero mandar uma mensagem"</strong></p>

</section>

<app-assistant></app-assistant>