<ng-container *ngFor="let message of messages | async">
    <div class="message" [ngClass]="{ 'from': message.identifier !== itsMe, 'to': message.identifier === itsMe }" (click)="play(message)">
        <ion-icon name="play-circle"></ion-icon>
        <div class="info">
            <span *ngIf="message.identifier !== itsMe">Recebido</span>
            <span *ngIf="message.identifier === itsMe">Enviado</span>
            <ion-icon name="checkmark" *ngIf="message.processed "></ion-icon>
        </div>
    </div>
</ng-container>