<ion-header>
    <ion-toolbar color="primary">
        <ion-avatar slot="start">
            <img src="https://www.how-to-draw-funny-cartoons.com/image-files/how-to-draw-a-dog-8.gif">
        </ion-avatar>
        <ion-title>
            Olá, Júnior
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment (ionChange)="segmentChanged($event)" value='home'>
        <ion-segment-button value="home">
            <ion-label>Início</ion-label>
        </ion-segment-button>
        <ion-segment-button value="messages">
            <ion-label>Mensagens</ion-label>
        </ion-segment-button>
        <ion-segment-button value="adventures">
            <ion-label>Aventuras</ion-label>
        </ion-segment-button>
    </ion-segment>

    <app-messages *ngIf="showingMessages"></app-messages>
    <app-start *ngIf="showingHome"></app-start>
    <app-adventures *ngIf="showingAdventures"></app-adventures>

</ion-content>